<h2>My Gear</h2>

<div>
  <label>Gear name:
    <input #gearName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(gearName.value); gearName.value=''">
    add
  </button>
</div>

<ul class="gear">
  <li *ngFor="let gear of gear">
    <a routerLink="/detail/{{gear.id}}">
      <span class="badge">{{gear.id}}</span> {{gear.name}}
    </a>
    <button class="delete" title="delete gear"
      (click)="delete(gear)">x</button>
  </li>
</ul>
