<h2>All Trails</h2>

<div>
  <label>Trail name:
    <input #trailName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(trailName.value); trailName.value=''">
    add
  </button>
</div>

<ul class="trails">
  <li *ngFor="let trail of trails">
    <a routerLink="./{{trail.id}}">
      <span class="badge">{{trail.id}}</span> {{trail.name}}
    </a>
    <button class="delete" title="delete trail"
      (click)="delete(trail)">x</button>
  </li>
</ul>